* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#player, #layer1, #layer2, #layer3, #layer4, #layer5, #layer01, #layer02, #layer03, #layer04, #layer05, #layer06,
#layer07, #layer08, #layer09, #layer10, #layer11, #layer12 {
    display: none;
}

img {
    margin: 5px;
    width: 200px;
    height: 200px;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    position: absolute;
    top: -158px;
    display: block;
}